.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 0;

    header, footer {
        text-align: center;
        padding: 15px;
    }

    header h1, footer h2 {
        background-color: #58BCA8;
        color: #F6F7E2;
        border-radius: 40px;
        padding: 20px;
    }

    header h1 {
        font-size: 36px;
    }

    footer h2 {
        font-size: 36px;
        margin-top: 0;

        a {
            color: #F6F7E2;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 550px;
            background-color: #F9F6E3;
            border: 7px solid #E6E6E6;
            text-align: center;

            h2 {
                font-size: 36px;
                color: #F6F7E2;
                background-color: #58BCA8;
                padding: 15px;
                margin-bottom: 25px;
                width: 100%;
                border-radius: 0;
            }

            fieldset {
                padding: 0 35px;
                width: 100%;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    font-size: 1.15rem;
                    font-weight: bold;
                    color: #414244;
                    padding: 10px 0;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                input, button {
                    width: 100%;
                    padding: 18px;
                    margin-bottom: 10px;
                    border: 2px solid #CFC6AC;
                    border-bottom: 4px solid #CFC6AC;
                    border-radius: 10px;
                    font-size: 1.25rem;
                    background-color: #FAF6E3;
                    color: #414244;
                    text-align: center;
                }

                input {
                    &::placeholder {
                        opacity: 1;
                        color: gray;
                    }
                
                    &:focus::placeholder {
                        opacity: 0;
                    }
                }

                .errorContainer {
                    padding-bottom: 10px;

                    p {
                        font-size: 1rem;
                        font-weight: bold;
                        color: #E7304F;
                        border: none;
                        padding: 5px 0;
                    }
                }

                button {
                    margin: 35px 0;
                    cursor: pointer;
                    transition: background-color 0.2s ease, color 0.2s ease;

                    &:hover {
                        background-color: #58BCA8;
                        color: #F6F7E2;
                    }
                }
            }

            p {
                font-size: 1.15rem;
                font-weight: bold;
                color: #414244;
                padding: 25px 0;
                width: 100%;
                border-top: 5px solid #E6E6E6;

                a {
                    color: #E7304F;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .signup {
        padding: 10px 0;

        main form {
            max-width: 95%;
        }

        header h1, footer h2, main form h2 {
            font-size: 28px;
        }

        main form fieldset {
            padding: 0 20px;
        }

        main form fieldset input, main form fieldset button {
            font-size: 1rem;
        }

        header h1, footer h2 {
            text-align: center;
            display: flex;
            justify-content: center;
        }

        footer a {
            margin-right: 5px;
        }
    }
}

@media screen and (min-width: 551px) and (max-width: 675px) {
    .signup {
        padding: 15px 0;

        main form {
            max-width: 95%;
        }

        main form fieldset input, main form fieldset button {
            font-size: 1.15rem;
            padding: 16px;
        }
    }
}

@media screen and (min-width: 676px) and (max-width: 1024px) {
    .signup {
        padding: 20px 0;

        main form {
            max-width: 65%;
        }

        main form fieldset input, main form fieldset button {
            font-size: 1.15rem;
            padding: 16px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .signup {
        padding: 20px 0;

        main form {
            max-width: 550px;
        }
    }
}
